[submodule "shared/mavlink-its"]
	path = shared/mavlink-its
	url = ../mavlink.git
[submodule "shared/ccsds"]
	path = shared/ccsds
	url = ../ccsds.git
[submodule "shared/sx126x"]
	path = shared/sx126x
	url = ../sx126x.git
